h1 {
  color: blueviolet;
}

.hero {
  height: 100vh;
  background-color: lightgray;

  display: flex;
  align-items: center;
}

.hero-title {
  background-color: lightseagreen;
  text-align: center;
  padding: 5% 0;
  width: 100%;
}

.cards-container {
   background-color: red;
}

.card {
  background-color: blue;
  width: 400px;
  height: 400px;
}
