.cards-container {
  background-color: pink;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0 300px;
}

.card {
  background-color: aliceblue;
  width: 400px;

  height: 400px;
  border: solid;
}

h2 {
  text-align: center;
}