.hero {
  height: 100vh;
  background-color: lightgray;

  display: flex;
  align-items: center;
}

.hero-title {
  background-color: var(--baby-blue-eyes);
  text-align: center;
  padding: 5% 0;
  width: 100%;

  h1 {
    color: var(--primary);
  }

  h2 {
    color: var(--secondary);
  }
}
