.advantages-container {
    display: flex;
    justify-content: center;
    
    .advantage {
        width: 30vw;
        text-align: center;
    }

    p {
        padding: 0 15px 15px 15px;  
        font-size: 1.2em;      
    }
}